*{
    background-color: #000000;
    font-family: "Press Start 2P", system-ui;
    font-weight: bold;
    color: azure;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.contenedor {
    display: flex;
}

.header {
    margin-top: 30px;
    margin-left: 30px;
    height: 127px;
    width: 144px;
    background: url("/img/01header.png");
    animation: header 0.8s steps(4);
    animation-delay: 1s;
}

.logo {
    margin-top: 50px;
    margin-right: 30px;
    margin-left: auto;
    height: 65px;
    width: 229px;
    background: url("/img/01logoprueba.png");
    animation: logo 0.5s steps(5);
    animation-delay: 1s;
}

@keyframes header{
    100%{
        background-position: -576px;
    }
}

@keyframes logo{
    100%{
        background-position: -1145px;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.centrar {
    text-align: center;
}

legend {
    font-size: 30px;
}

fieldset {
    margin-top: 50px;
    margin: 20px;
}

.image-border {
    border: 40px solid;
    border-image-source: url("/img/borderblock.png");
    border-image-slice: 16 17 16 16;
    border-image-width:20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat repeat;
    
}

p {
    margin: 30px;
}


.wrapper {
    margin: 10px;
}

.text-image-left {
    max-width: 320px;
    float: left;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.text-image-right {
    max-width: 320px;
    float: right;
    margin-right: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}